gitdb==4.0.12
GitPython==3.1.41
numpy==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==78.1.1
six==1.17.0
smmap==5.0.2
tzdata==2025.2
charset-normalizer>=3.3,<4
pytest==8.4.2
charset-normalizer==3.4.4
